@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<p> The Caring and Sharing website. We are a non-profit organization that tries to match items which a person wants or needs with the person who needs them.   Our State-of-the-Art site lets a person in need search though our online records to locate an item, or, perhaps, to even donate an item they no longer need and wish for someone else to have.

Personal dignity and personal privacy are very important to us.   Our primary mission is to help people in need get the items that they need in a safe and efficient manner.  We appreciate your feedback.. Please direct any comments or concerns that you may have to webmaster@HeartsofGold.com.
</p>
<img src="~/Content/img/p1040048a.jpg" align="middle" />
