@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<address>
    Hearts Of Gold<br />
    3405 Woodland Avenue <br />
    Cleveland, Ohio 44114<br />
    <abbr title="Phone">P:</abbr>
    216-959-1000 or 1-800-HOG-GIVE.
</address>
<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">HeartsOfGold2016@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">kadaga44139@gmail.com</a>
</address>



