@{
    ViewBag.Title = "Hearts of Gold";
}
@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>*@
<div class="col-sm-12 margin-top">
    <div class="col-sm-4">
        <img src="~/Content/img/HeartsOfGold.jpg" class="heart-img margin-top" />
    </div>
    <div class="col-sm-6 h4">
        <p>The Hearts of Gold website allows users to anonymous donate and/or pickup items from particaption location in the Greater Cleveland area.</p> <p> We are a non-profit organization that tries to match items which a person wants or needs with the person who needs them.</p> Our primary mission is to help people in need get the items that they need in a safe and efficient manner.
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>


            Create an account to get started with either donating and/or picking up an item for yourself or for someone else.
        </p>
        <p>
            @if (Request.IsAuthenticated)
            {
                @Html.ActionLink("View Items", "Index", "Items", routeValues: null, htmlAttributes: new { @class = "btn btn-default" });
            }
            else
            {
                @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-default" });
            }
        </p>
    </div>
    <div class="col-md-4">
        <h2>Donation Locations</h2>
        <p>We have locations all over the Greater Cleveland Area and are adding more. Check out the location nearest you for picking and/or droping off.</p>
        <p>@Html.ActionLink("Click to see Locations", "Index", "Donation_Location", routeValues: null, htmlAttributes: new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Contact Us</h2>
        <p>If you have any questions about the company, the process or any business inquries free free to reach out.</p>
        <p>@Html.ActionLink("Contact Us", "Contact", "Home", routeValues: null, htmlAttributes: new { @class = "btn btn-default" })</p>
    </div>
</div>