@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
  
</div>
<div class="row">
    <div class="col-md-5">
        <h2>Enter Your Location</h2>
        <p>

        </p>
        <!--Devins Code Goes here ---------------------------------------------------------->

        <p>
            <input type="button" name="Go" value="Go" class="btn btn-default">
            <iframe src="https://www.google.com/maps/d/embed?mid=1yxf56-_msdJGvMLankFieLjcd0w" width="640" height="480"></iframe>
        </p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p></p>
    </div>
</div>